[project]
	description = Compile CoffeeScript files to JavaScript.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Xin (ipy)
[access "refs/for/refs/*"]
	read = group user/Xin (ipy)
	push = group user/Xin (ipy)
	label-Code-Review = -2..+2 group user/Xin (ipy)
	label-Verified = -1..+1 group user/Xin (ipy)
	rebase = group user/Xin (ipy)
	removeReviewer = group user/Xin (ipy)
	submit = group user/Xin (ipy)
[access "refs/heads/*"]
	read = group user/Xin (ipy)
	create = group user/Xin (ipy)
	push = +force group user/Xin (ipy)
	pushMerge = group user/Xin (ipy)
[access "refs/tags/*"]
	push = +force group user/Xin (ipy)
	pushTag = group user/Xin (ipy)
	pushSignedTag = group user/Xin (ipy)
